src/main/resources/external/schemas/xhe10/fragments/XHE-BasicComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           Exchange Header Envelope (XHE) 1.0 OS
                     http://www.unece.org/cefact
                     https://docs.oasis-open.org/bdxr/xhe/v1.0/os/
  Release Date:      25 April 2021
  Module:            xsdrt/fragments/XHE-BasicComponents-1.0.xsd
  Generated on:      2021-05-10 19:37z
  Copyright (c) UN/CEFACT 2021. All Rights Reserved.
  Copyright (c) OASIS Open 2021. All Rights Reserved.
-->
<xsd:schema xmlns="http://docs.oasis-open.org/bdxr/ns/XHE/1/BasicComponents"
            xmlns:qdt="http://docs.oasis-open.org/bdxr/ns/XHE/1/QualifiedDataTypes"
            xmlns:udt="http://docs.oasis-open.org/bdxr/ns/XHE/1/UnqualifiedDataTypes"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://docs.oasis-open.org/bdxr/ns/XHE/1/BasicComponents"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.1">
   <xsd:import namespace="http://docs.oasis-open.org/bdxr/ns/XHE/1/QualifiedDataTypes"
               schemaLocation="XHE-QualifiedDataTypes-1.0.xsd"/>
   <xsd:import namespace="http://docs.oasis-open.org/bdxr/ns/XHE/1/UnqualifiedDataTypes"
               schemaLocation="XHE-UnqualifiedDataTypes-1.0.xsd"/>
   <xsd:element name="AvailabilityEndDateTime" type="AvailabilityEndDateTimeType"/>
   <xsd:element name="AvailabilityStartDateTime" type="AvailabilityStartDateTimeType"/>
   <xsd:element name="BusinessScopeCriterionTypeCode"
                type="BusinessScopeCriterionTypeCodeType"/>
   <xsd:element name="BusinessScopeCriterionValue"
                type="BusinessScopeCriterionValueType"/>
   <xsd:element name="ContentTypeCode" type="ContentTypeCodeType"/>
   <xsd:element name="CreationDateTime" type="CreationDateTimeType"/>
   <xsd:element name="CustomizationID" type="CustomizationIDType"/>
   <xsd:element name="Description" type="DescriptionType"/>
   <xsd:element name="DocumentTypeCode" type="DocumentTypeCodeType"/>
   <xsd:element name="HandlingServiceID" type="HandlingServiceIDType"/>
   <xsd:element name="ID" type="IDType"/>
   <xsd:element name="InstanceEncryptionIndicator"
                type="InstanceEncryptionIndicatorType"/>
   <xsd:element name="InstanceEncryptionMethod" type="InstanceEncryptionMethodType"/>
   <xsd:element name="InstanceHashValue" type="InstanceHashValueType"/>
   <xsd:element name="Login" type="LoginType"/>
   <xsd:element name="Password" type="PasswordType"/>
   <xsd:element name="ProfileExecutionID" type="ProfileExecutionIDType"/>
   <xsd:element name="ProfileID" type="ProfileIDType"/>
   <xsd:element name="UUID" type="UUIDType"/>
   <xsd:element name="ValidationTypeCode" type="ValidationTypeCodeType"/>
   <xsd:element name="ValidationVersionID" type="ValidationVersionIDType"/>
   <xsd:element name="XHEVersionID" type="XHEVersionIDType"/>
   <xsd:complexType name="AvailabilityEndDateTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AvailabilityStartDateTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeCriterionTypeCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="BusinessScopeCriterionValueType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ContentTypeCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CreationDateTimeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:DateTimeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CustomizationIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DescriptionType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DocumentTypeCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HandlingServiceIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="IDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InstanceEncryptionIndicatorType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IndicatorType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InstanceEncryptionMethodType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="InstanceHashValueType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LoginType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="PasswordType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProfileExecutionIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ProfileIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="UUIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ValidationTypeCodeType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ValidationVersionIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="XHEVersionIDType">
      <xsd:simpleContent>
         <xsd:restriction base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>
<!-- ===== Copyright Notice ===== -->
<!--
UN/CEFACT

   This document and translations of it may be copied and furnished to others,
   and derivative works that comment on or otherwise explain it or assist
   in its implementation may be prepared, copied, published and distributed,
   in whole or in part, without restriction of any kind, provided that the
   above copyright notice and this paragraph are included on all such copies
   and derivative works. However, this document itself may not be modified in
   any way, such as by removing the copyright notice or references to
   UN/CEFACT, except as needed for the purpose of developing UN/CEFACT
   specifications, in which case the procedures for copyrights defined in the
   UN/CEFACT Intellectual Property Rights document must be followed, or as
   required to translate it into languages other than English.
   The limited permissions granted above are perpetual and will not be revoked
   by UN/CEFACT or its successors or assigns.
   
   This document and the information contained herein is provided on an "AS IS"
   basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING
   BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL
   NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR
   FITNESS FOR A PARTICULAR PURPOSE.

OASIS

  OASIS takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to pertain 
  to the implementation or use of the technology described in this 
  document or the extent to which any license under such rights 
  might or might not be available; neither does it represent that it has 
  made any effort to identify any such rights. Information on OASIS's 
  procedures with respect to rights in OASIS specifications can be 
  found at the OASIS website. Copies of claims of rights made 
  available for publication and any assurances of licenses to be made 
  available, or the result of an attempt made to obtain a general 
  license or permission for the use of such proprietary rights by 
  implementors or users of this specification, can be obtained from 
  the OASIS Executive Director.

  OASIS invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to 
  implement this specification. Please address the information to the 
  OASIS Executive Director.
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, 
  published and distributed, in whole or in part, without restriction of 
  any kind, provided that the above copyright notice and this 
  paragraph are included on all such copies and derivative works. 
  However, this document itself may not be modified in any way, 
  such as by removing the copyright notice or references to OASIS, 
  except as needed for the purpose of developing OASIS 
  specifications, in which case the procedures for copyrights defined 
  in the OASIS Intellectual Property Rights document must be 
  followed, or as required to translate it into languages other than 
  English. 

  The limited permissions granted above are perpetual and will not be 
  revoked by OASIS or its successors or assigns. 

  This document and the information contained herein is provided on 
  an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES, 
  EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY 
  WARRANTY THAT THE USE OF THE INFORMATION HEREIN 
  WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED 
  WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A 
  PARTICULAR PURPOSE.    
-->
